*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "Inter", serif;
}
body{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    background-image: url(./images/gauze-01.jpeg);
    background-position: center;
    background-size: cover;
    color: #fff;
}
.wrapper{
    max-width: 1100px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
}
header{
    font-family: "Inter", serif;
    width: 100%;
    height: 60px;
}
main {
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.primary-nav{
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 25px;
}
.sign-up{
    cursor: pointer;
}
.login{
    width: 95px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-weight: 500;
    background: #fff;
    color: #000;
    cursor: pointer;
}
.h1-heading{
    text-align: center;
    font-weight: 600;
    font-size: 55px;
}
.search-ui{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.search-box-container{
    max-width: 600px;
    width: 100%;
    height: 85px;
    padding: 20px;
    border-radius: 40px;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-input {
    max-width: 300px;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
}
input[placeholder]{
    margin-left: 15px;
    font-size: 18px;
    font-family: "Inter", serif;
}
.search-btn{
    width: 65px;
    height: 65px;
    border-radius: 20px;
    background:#3C37FF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
    .SignUp-ui {
        width: 700px;
        height: 498px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 12px;
        background: #fff;
        padding: 20px;
    }
    .left-col{
        width: 334px;
        height: 460px;
        background:#f0f1f3;
        border-radius: 10px;
    }
    .right-col{
        width: 330px;
        height: 460px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: black;
        padding: 20px;
    }
    .upper-info,
    .user-details,
    .user-email,
    .user-password{
        display: flex;
        flex-direction: column;
    }
    .get-started{
        font-family: "Inter", serif;
        font-size: 18px;
        font-weight: 500;
    }
    .create-acc{
        font-family: "Inter", serif;
        font-size: 14px;
        color: #8A8E9A;
    }
    .upper-info{
        gap: 15px;
    }
    label{
        font-size: 12px;
        color: #8A8E9A;
    }